<div class="card">
    <div class="card-header">
        <p-menubar [model]="items">
            <ng-template pTemplate="start">
                <img src="../assets/showcase/images/primeng-sidebar.svg" height="40" class="mr-2">
            </ng-template>
            <ng-template pTemplate="end">
                <input type="text" pInputText placeholder="Search">
            </ng-template>
        </p-menubar>
    </div>

    <div class="card-body">
        <div class="card">
            <div class="flex card-container blue-container overflow-hidden">
                <div class="flex-none flex">
                    <p-scrollPanel [ngStyle]="{width: '100%', 'height': panleMenuHeight}">
                        <p-panelMenu [model]="panelMenuItems" [style]="{'width':'200px'}"></p-panelMenu>
                    </p-scrollPanel>
                </div>
                <div class="flex-grow-1 flex align-items-left justify-content-left   ">
                    <div class="NgxEditor__Wrapper">
                        <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
                        <ngx-editor [editor]="editor" [ngModel]="html" [placeholder]="'Type here...'"></ngx-editor>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>